Token 検証用 Endpoint

Resource Server は `Authorization` ヘッダに書かれた access token を見て、その token に紐づいたユーザーの情報を提供する。
access token 以外に取得できる情報がないので、別途 Authorization Server にこの token が妥当なものか問い合わせる必要が出てくる。

[RFC6749 Section 7](https://datatracker.ietf.org/doc/html/rfc6749#section-7) には

> The resource server MUST validate the access token and ensure that it has not expired and that its scope
> covers the requested resource.  The methods used by the resource
> server to validate the access token (as well as any error responses)
> are beyond the scope of this specification but generally involve an
> interaction or coordination between the resource server and the
> authorization server.

> (概略)
> Resource Server は access token を検証し、期限切れになっていないこと・そのリクエストが scope の範囲に含まれることを確かめなければならない。
> その方法は (OAuth 2.0 の) 仕様外だが、一般には Resource Server と Authorization Server でのやり取りが絡んでくる。

とあるので、ここで決める。

---

## 仕様

`POST /oauth/verify-token`

パラメータ: `access_token` [string] のみ

返すデータ

```
{
  "valid": true,
  "client": {
    "id": string,
    "name": string,
    "description": string | null,
    "logo_url": string | null,
    "owner_id": string
  },
  "user_id": string,
  "expires_at": int (unix ms)
  "scopes": string[]
} | {
  "valid": false,
  "client": null,
  "user_id": null,
  "expires_at": null,
  "scopes": null
}
```

## memo

- 総当たり食らわない？ → token は 312 bit なので、まあ 2^150 くらいやると 50% で衝突しそうだがそんなリクエスト来たらさすがに Cloudflare 側で防いでくれるやろ (そもそも DB Read が 5M/day の制限あるのでそっちに引っかかる)